*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	align-items: center;
	background-color: black;
} 
						/*HEADER & NAVIGATION*/

.hdr{
	display: flex;
	border-style: solid;
	border-color: red;
	background-color: black;
}

.hdr .logo-ops{
	display: inline-block;
	border-style: solid;
	border-color: none;
}

.hdr .h1-ops{
	display: inline;
	border-style: none;
	margin-left: auto;
	margin-right: auto;
	color: white;
}

.logo{
	padding-top: 3px;
	padding-bottom: 3px;
	display: block;
	margin-left: 10px;
	margin-bottom: 2px;
	margin-top: 2px;
	width: 160px;
	height: 40px;
}

.region{
	text-align: center;
	border-style: solid;
	margin-top: 5px;
	background-color: black;
	color: yellowgreen;
	border-color: red;
	display: flex;
	justify-content: space-between;
	padding-left: 50px;
	padding-right: 50px;
}

.region .scl{
	color: white;
}					/*HEADER & NAVIGATION END*/

					/*LEFT & RIGHT*/
.fll{
	display: flex;
	margin-top: 30px;
	justify-content: center;
}

					/*LEFT PART*/
.fll .lft-side{
	border-style: solid;
	border-color: red;
	width: 20%;
	height: 1000px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.button{
	border-style: solid;
	border-color: yellowgreen;
	background-color: black;
	margin-top: 10px;
	margin-bottom: 10px;
	display: flex;
	padding: 10px;
	width: 330px;
	justify-content: space-between;
}

.button .btn{
	color: white;
	background-color: black;
	height: 30px;
	border-color: white;
	width: 70px;
}

.grp{
	border-style: solid;
	border-color: yellowgreen;
	margin: 0 auto;
	max-height: 350px;
	max-width: 325px;
	display: flex;
}

.grp .tier1{
	display: block;
	border-style: solid;
	border-color: yellowgreen;
	min-width: 320px;
	height: 320px;
	line-height: 20px;
	text-align: left;
	background-color: black;
	color: white;
	padding-left: 10px;
	padding-top: 10px;
}

.grp .tier2{
	display: none;
	border-style: solid;
	border-color: yellowgreen;
	min-width: 320px;
	height: 320px;
	line-height: 20px;
	text-align: left;
	background-color: black;
	color: white;
	padding-left: 10px;
	padding-top: 10px;
}

.grp .tier3{
	display: none;
	border-style: solid;
	border-color: yellowgreen;
	min-width: 320px;
	height: 320px;
	line-height: 20px;
	text-align: left;
	background-color: black;
	color: white;
	padding-left: 10px;
	padding-top: 10px;
}

.grp .btn{
	border-style: solid;
	border-color: white;
	color: white;
	width: 290px;
	padding-bottom: 5px;
	padding-top: 5px;
	margin-bottom: 5px;
	border-radius: 10px;
	align-items: center;
}

.grp .tier2 .header{
	text-align: center;
}

.grp .tier3 .header{
	text-align: right;
	padding-right: 10px;
}

			/*RIGHT SIDE MARKER*/

.fll .ryt-side{
	border-style: solid;
	border-color: red;
	width: 50%;
	height: 1000px;
	display: flex;
	justify-content: center;
	align-items: center;
}	

			/*MID SIDE*/

.fll .mid-side{
	border-style: solid;
	border-color: red;
	width: 30%;
	height: 1000px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.mid-side .tnfsComputation{
	border-style: solid;
	border-color: yellowgreen;
	margin-top: 10px;
	height: 200px;
	width: 450px;
/*	display: flex;	
	justify-content: center;
	align-items: center;*/
}

.mid-side .calculation{
	width: 350px;
}

.tnfsComputation .header{
	padding-top: 10px;
	color: white;
	text-align: center;
	
}

.tnfsComputation .calcContent{
	display: flex;
	justify-content: center;
	align-items: center;
}

.tnfsComputation .calcContent .dsg1{
	width: 200px;
	font-size: 18px;
	color: white;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 10px;
	border-color: white;
	margin-bottom: 3px;
	text-align: right;
}

.tnfsComputation .calcContent .dsg2{
	width: 200px;
	font-size: 18px;
	color: white;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 10px;
	border-color: white;
	
}

.tnfsComputation .dsg2 .mlg{
	color: black;
	text-align: center;
	width: 75px;
	margin-left: 10px;
	margin-right: 10px;
	background-color: yellowgreen;
	font-size: 15px;
	font-weight: bold;
	margin-bottom: 3px;
}

.mid-side .calculation{
	border-style: solid;
	border-color: yellowgreen;
	margin-top: 10px;
	margin-bottom: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	align-items: center;
	justify-content: center;
	height: 320px;
	width: 450px;
}

.mid-side .calculation .s-type{
	border-style: solid;
	border-color: white;
	color: white;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	height: 70px;
	justify-content: center;
	align-items: center;
	display: flex;
}

.mid-side .calculation .s-type .svc{
	border-style: solid;
	border-color: white;
	color: white;
	margin-right: 10px;
	margin-left: 10px;
	padding-left: 10px;
	padding-right: 10px;
	height: 30px;
}

.mid-side .calculation .tmc-content{
	border-style: solid;
	border-color: white;
	color: white;
	margin-left: 10px;
	margin-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 30px;
	height: 190px;
	justify-content: center;
	align-items: center;
	display: block;
}

.mid-side .calculation .atr-content{
	border-style: solid;
	border-color: white;
	color: white;
	margin-left: 10px;
	margin-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 30px;
	height: 190px;
	justify-content: center;
	align-items: center;
	display: none;
}

.mid-side .calculation .atr-content .atr{
	width: 150px;
	text-align: center;
	height: 30px;
	color: black;
	border-color: white;
	background-color: yellowgreen;
	font-size: 18px;
	font-weight: bold;
}

.mid-side .calculation .atr-content .atrprc{
	width: 150px;
	text-align: center;
	height: 30px;
	color: white;
}

.mid-side .calculation .cnv-content{
	border-style: solid;
	border-color: white;
	color: white;
	margin-left: 10px;
	margin-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	height: 220px;
	justify-content: center;
	align-items: center;
	display: none;
}

.mid-side .calculation .tmc-content .sthdr{
	color: white;
	text-align: center;
	padding-bottom: 5px;
}

.mid-side .calculation .tmc-content .tmc{
	border-style: solid;
	border-color: white;
	color: black;
	font-size: 20px;
	text-align: center;
	width: 100px;
	margin-left: 20px;
	background-color: yellowgreen;
	font-size: 18px;
	font-weight: bold;
}

.mid-side .calculation .atr-content .atrhdr{
	color: white;
	text-align: center;
	padding-bottom: 5px;
}

.mid-side .calculation .cnv-content .p1{
	padding-bottom: 10px;
	justify-content: space-between;
	align-items: center;
	padding-left: 10px;
	padding-right: 10px;
	display: flex;
}

.mid-side .calculation .cnv-content .p2{
	padding-bottom: 10px;
	justify-content: space-between;
	align-items: center;
	display: flex;
	padding-left: 10px;
	padding-right: 10px;
}

.mid-side .calculation .cnv-content .p3{
	padding-bottom: 10px;
	justify-content: space-between;
	align-items: center;
	display: flex;
	padding-left: 10px;
	padding-right: 10px;
}

.mid-side .calculation .cnv-content .cnvhdr{
	color: white;
	text-align: center;
	padding-bottom: 15px;
}

.mid-side .calculation .cnv-content .ndys{
	color: black;
	height: 25px;
	width: 75px;
	text-align: center;
	background-color: yellowgreen;
	font-size: 18px;
	font-weight: bold;
}

.mid-side .calculation .cnv-content .nhrs{
	color: black;
	height: 25px;
	width: 75px;
	text-align: center;
	background-color: yellowgreen;
	font-size: 18px;
	font-weight: bold;
}

.mid-side .calculation .cnv-content .spd{
	color: black;
	height: 25px;
	width: 75px;
	text-align: center;
	background-color: yellowgreen;
	font-size: 18px;
	font-weight: bold;
}

.mid-side .calculation .cnv-content .cip{
	color: black;
	height: 25px;
	width: 75px;
	text-align: center;
	background-color: yellowgreen;
	font-size: 18px;
	font-weight: bold;
}

.mid-side .calculation .cnv-content .vrp{
	color: black;
	height: 25px;
	width: 75px;
	text-align: center;
	padding-bottom: 10px;
	background-color: yellowgreen;
	font-size: 18px;
	font-weight: bold;
}

.mid-side .calculation .cnv-content .tlp{
	color: black;
	height: 25px;
	width: 75px;
	text-align: center;
	background-color: yellowgreen;
	font-size: 18px;
	font-weight: bold;
}

form .type1{
	color: white;
	width: 150px;
	height: 30px;
	margin-right: 15px;
	text-align: center;
}

form .type2{
	color: white;
	width: 150px;
	height: 30px;
	margin-left: 15px;
	text-align: center;
}

form .road{
	color: white;
	width: 150px;
	height: 25px;
	margin-left: 10px;
	text-align: center;
	margin-left: 90px;
	margin-bottom: 15px;
}

				/*LEFT SIDE END*/
						/*RIGHT SIDE FUNCTIONALITY*/



.ryt-side .atr-t1{
	display: none;
}

.ryt-side .atr-t2{
	display: none;
}

.ryt-side .atr-t3{
	display: none;
}

.ryt-side .tmc-t1{
	display: block;
}

.ryt-side .tmc-t2{
	display: none;
}

.ryt-side .tmc-t3{
	display: none;
}

.ryt-side .cni-t1{
	display: none;
}

.ryt-side .cni-t2{
	display: none;
}

.ryt-side .cni-t3{
	display: none;
}

.ryt-side .oth-t1{
	display: none;
}

.ryt-side .oth-t2{
	display: none;
}

.ryt-side .oth-t3{
	display: none;
}
					/*RIGHT SIDE FUNCTIONALITY END*/

.svc-type{
	border-style: solid;
	border-color: white;
	text-align: center;
	color: yellowgreen;
}

.brder{
	border-style: solid;
	border-color: white;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 5px;
	padding-top: 5px;
	color: yellowgreen;
	font-weight: 600;
}

.brder1{
	border-style: solid;
	border-color: white;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 5px;
	padding-top: 5px;
	color: black;
	background-color: yellow;
	font-weight: 600;
}